html,
body,
#root {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background: #123 url('dark.jpeg') no-repeat fixed left top;
    background-size: 100% 100%;
    
}

@media screen and (max-width: 600px) {
body{
    background: #123 url('shiva.jpg') no-repeat fixed;
    background-size: 100% 100%;
	}
}